[flake8]
; Line length (E501) is handled by black, which has a different opinion than
; flake8.
; The line-break-before-binary-operator check (W503) is outdated and will soon
; be inverted: https://www.flake8rules.com/rules/W503.html
; F403 "unable to detect undefined names" will need to stay disabled until we
; have re-organized our imports and public APIs.
; The same is true for F405 "may be undefined, or defined from star imports".
; E203 gets triggered by a bug and is covered by black:
; https://github.com/PyCQA/pycodestyle/issues/373
ignore = E501, W503, F405, F403, E203
exclude = build
