[tool.poetry]
name = "csrank"
version = "1.2.1"
description = "Context-sensitive ranking and choice"
authors = ["Karlson Pfannschmidt <kiudee@mail.upb.de>"]
license = "apache-2.0"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
]
repository = "https://github.com/kiudee/cs-ranking"
documentation = "https://kiudee.github.io/cs-ranking/"

[tool.poetry.dependencies]
python = "^3.7"
numpy = "^1.12.1"
scipy = "^1.5.2"
scikit-learn = "^0.23.2"
scikit-optimize = "^0.7.4"
docopt = "^0.6.2"
joblib = "^0.16.0"
tqdm = "^4.11.2"
keras = "~2.3" # 2.4 delegates to tf, needs tf2
tensorflow = "^1.5"
# These should be optional, but are temporarily made mandatory due
# to an issue in our optional imports. See
# https://github.com/kiudee/cs-ranking/issues/137.
psycopg2-binary = "^2.7"
pandas = "^1.1.1"
h5py = "^2.7"
pygmo = "^2.7"
pymc3 = "^3.8"
theano = "^1.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.7.1"
black = "^20.8b1"
pytest = "^6.0.1"
bump2version = "^1.0.0"
Sphinx = "^3.2.1"
sphinx_rtd_theme = "^0.5.0"
sphinxcontrib-bibtex = "^1.0.0"
sphinx-autobuild = "^0.7.1"
flake8 = "^3.7.9"
doc8 = "^0.8.1"
zimports = "^0.2.2"
tox = "^3.19.0"
pytest-cov = "^2.10.1"
nbsphinx = "^0.7.1"
IPython = "^7.18.1"

# [tool.poetry.extras]
# These are temporarily made mandatory due to an issue in our optional imports.
# See https://github.com/kiudee/cs-ranking/issues/137.
# data = ["psycopg2-binary", "pandas", "h5py", "pygmo"]
# probabilistic = ["pymc3", "theano"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
